* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: "Montserrat";
    --secondary-font: "Montserrat";

    --primary-color: #898989;
    --secondary-color: #D9D9D9;
}

p,h1,h2,small,a {
    font-family: var(--primary-font);
   
}

.main-container-sobre {
    display: flex;
    height: 100vh;
    
    align-items: center;
    justify-content: center;
}

    .main-container-sobre > img {  
    width: 500px;   
    height: 570px;
    margin-bottom: 125px;    

    }

.content-container-sobre {
    display: flex;
    height: 570px;
    margin-top: 160px;
    flex-direction: column;
    
    }

    .content-container-sobre > h1 {
    text-transform: uppercase;
    width: 335px;;
    margin-bottom: 15px;
    font-size: 38px;

    }

    .content-container-sobre > h2 {
    color: #5C5C5C;
    margin-bottom: 30px;
    font-size: 31px;
    font-weight: 300;
    font-family: var(--secondary-font);
    }

    .content-container-sobre > p {
    font-size: 20px;
    width: 225px;
    color: white;

    }

    .content-container-sobre > a {
    text-transform: uppercase;
    margin-top: 50px;
    color: white;
    width: 175px;
    }

    .content-container-sobre > a > button {
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;     
    text-transform: uppercase;
    font-family: 'Cormorant Garamond';
    background-color: #A18987;
    color: #FFFFFF;
}

.sobre-diferenciais{
    display: flex;
    height: 570px;
    width: 310px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    }

    .sobre-diferenciais > h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

    .sobre-diferenciais > p {
    width: 370px;
    margin-bottom:40px;
    color: white;
    font-size: 20px;
}


.main-container-contato{
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100vh;    
}

.top-content-contato {
    margin-bottom: 50px;
}

    .top-content-contato > h1 {
    font-size: 38px;
    text-transform: uppercase;
}

    .top-content-contato > h2 {
    font-size: 24px;
    width: 460px;
}

    .midle-content-contato {   
    display: flex;   
    column-gap: 70px;
}

.card-description-contato + .card-description-contato {
    margin-bottom: 20px;
}

.card-description-contato{
    width: 350px;;
}

.card-description-contato > h2 {
   font-size: 24px;
}

.card-description-contato > p {
    color: white;
    font-size: 20px;
    width: 410px;
   
}

.bottom-content-contato{
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
}

.bottom-content-contato > p {
    color: white;
    font-size: 20px;  
    
}

.bottom-content-contato > p > a {
    color: white;
}


html, body, section {
    block-size: 100%;
    height: 100vh;
  }


  html {
    scroll-snap-type: y mandatory;
  }
  
  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section:nth-of-type(even) {
    color: white;
    background: #A18987;
  }
  
  section:nth-of-type(odd) {
    color: white;
    background: #A18987;
  }
.frist-section > h1{
    font-size: 42px;
    font-weight: 400;
}

.scrool {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

.content-side-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 100vh;
    right: 0;
    top: 0;
    margin-right: 30px;
}
    .content-side-right > p{       
    
        writing-mode: tb;
        position: absolute;
        bottom: 0;
        margin-bottom: 30px;
    }

    .social-media-area{
        display: flex;
        flex-direction: column;
        margin-top: 45px;
    }

        .social-media-area > a {
            margin-top: 15px;
        }

.content-side-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 100vh;
    left: 0;
    top: 0;
    margin-left: 30px;
    }

    .content-side-left > .scrool > p {
    margin-top: 680px;
    margin-bottom: 15px;
    writing-mode: tb;
    }

    .content-side-left > h1 {
    margin-top: 60px;
    font-size: 2.2rem;
    font-weight: 400;
    }

.second-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 100vh;
    left: 0;
}

    .second-menu > h1{
        margin-top: 60px;
        font-size: 2.2rem;
    }
    .second-menu > a {
        transform: rotate(90deg);
        margin-top: 150px;
        color: #fff;
        text-transform: uppercase;
        writing-mode: tb;
    }

    .second-menu-option {
        display: flex;
        margin-top: 100px;
        transform: rotate(90deg);
        align-items: center;
    }
    .second-menu-option + .second-menu-option {        
        margin-top: 170px
    }

    .second-menu-option > a {
        color: #fff;
        text-transform: uppercase;
    }

    .line1 {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 2px;
        height: 25px;
        background-color: #FFFFFF;
    }


    .caixa1 {
        display: flex;
        height: 100vh;
    }
    
    .caixa2{
    
        display: flex;
        align-items: center;
    
    }
    
    .caixa3 {
        display: flex;
        writing-mode: tb;
        align-items: center;
        position: absolute;
        left: 0;
        margin-left: 30px;
    
    }
    .caixa3 > a {
        text-transform: uppercase;
        color: #FFF;
        
    }
    
    .caixa3 > h1 {
        color: #FFF;
        transform: rotate(-90deg);
        font-size: 2.2rem;
    }
.title-especiliades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-especiliades > h1 {
    font-size: 38px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.especialidades-cards{
    display: flex;
    align-items: center;
}

.especialidade{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
   
}

.card {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.card > img { 
    width: 130px;
    height: 190px;
}

.card-description{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 15px;
    text-transform: none;
}

.card-description > p {
    font-size: 20px;
    width: 400px;
}

.card-description > h2 {
    font-size: 24px;
}

.title-promocao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-promocao > h1 {
    font-size: 38px;
    text-transform: uppercase;
    margin-bottom: 50px;
  
}

.title-promocao > h2 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
}

.title-promocao > p{
    display: flex;
    justify-content: center;
    width: 900px;
    margin-bottom: 50px;
    font-size: 20px;
}

@media (max-width: 400px ) /* IPHONE 12 PRO, PIXEL 5*/
{
    .content-side-left > p
   {
    margin-top: 600px;
    
   }
   
   .frist-section > h1 {
    font-size: 30px;
   }
    .content-side-left > h1 {
        margin-top: 30px;
   }
    .social-media-area {
        margin-top: 22px;
    }
    .content-side-right {
        margin-right: 15px;
    }

    .content-side-left {
        margin-left: 15px;
    }

    .main-container-sobre {
        flex-direction: column;
    }

    .main-container-sobre > img {
        width: 350px;
        height: 350px;
        margin-bottom: 40px;
    }
    .content-container-sobre {           
        margin-top: 0px;
        align-items: center;
        text-align: center;
        height: 85px;
        margin-bottom: 10px;    
    }

    .caixa3 {
        display: none;
       margin-left: 15px;
       font-size: 12px;
    }
    .caixa3 > h1 {
        font-size: 24px;
    }
    .content-container-sobre > h1 {
        font-size: 26px;
        margin-bottom: 0px;
    }

    .content-container-sobre > p {
        font-size: 20px;
        width: 335px;
    }
    .content-container-sobre > h2 {
        margin-bottom: 0px;
    }

    .sobre-diferenciais > p {
        width: 250px;
        margin-bottom: 10px;
        font-size: 14px;
        
    }

    .sobre-diferenciais {
        height: 230px;
        width: 250px;     
        align-items: baseline;
        text-align: initial;
    }
    .sobre-diferenciais > h2 {
        margin-bottom: 5px;
        font-size: 20px;
    }
    .top-content-contato {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .top-content-contato > h2 {
        font-size: 18px;
        width: 330px;
        margin-bottom: 10px;
        font-weight: normal;
    }

    .midle-content-contato {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-description-contato > p {
        width: 310px;
        font-size: 14px;
    }
    .bottom-content-contato > p {
        text-align: center;
        width: 290px;
        margin-top: 30px;
        font-size: 14px;
    
    }
    .bottom-content-contato {        
         margin-top: 10px;
    }
    .card-description-contato + .card-description-contato {
        margin-bottom: 0px;
    }
    .card-description-contato {
        display: flex;
        width: 350px;
        flex-direction: column;
        align-items: center;
    }
    .top-content-contato {
         margin-bottom: 0px
    }
    .top-content-contato > h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .line1{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .title-especiliades > h1 {
        font-size: 24px;
        margin-bottom: 50px;
    }
    .card-description {
        width: auto;
    }
    .card-description > h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .card-description > p {
        font-size: 16px;
        width:  290px;
    }
    .especialidade {
        gap: 30px;
    }
    .card > img {
        display: none;
    }
    .title-promocao > p {
        width: 300px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 30px;
    }
    .title-promocao > h2 > small {
        display: none;
        margin-left: 0px;
    }
    .title-promocao > h2 {        
        font-size: 20px;        
    }
    .title-promocao > h1 {
        font-size: 24px;
    }
}

@media (max-width: 430px) 
{
    .content-side-left > p
   {
    margin-top: 600px;
    
   }

   .frist-section > h1 {
    font-size: 30px;
   }
    .content-side-left > h1 {
        margin-top: 30px;
   }
    .social-media-area {
        margin-top: 22px;
    }
    .content-side-right {
        margin-right: 15px;
    }

    .content-side-left {
        margin-left: 15px;
    }

    .main-container-sobre {
        flex-direction: column;
    }

    .main-container-sobre > img {
        width: 350px;
        height: 350px;
        margin-bottom: 40px;
    }
    .content-container-sobre {           
        margin-top: 0px;
        align-items: center;
        text-align: center;
        height: 85px;
        margin-bottom: 10px;    
    }

    .caixa3 {
        display: none;
       margin-left: 15px;
       font-size: 12px;
    }
    .caixa3 > h1 {
        font-size: 24px;
    }
    .content-container-sobre > h1 {
        font-size: 26px;
        margin-bottom: 0px;
    }

    .content-container-sobre > p {
        font-size: 20px;
        width: 335px;
    }
    .content-container-sobre > h2 {
        margin-bottom: 0px;
    }

    .sobre-diferenciais > p {
        width: 250px;
        margin-bottom: 10px;
        font-size: 12px;
        
    }

    .sobre-diferenciais {
        height: 230px;
        width: 250px;     
        align-items: baseline;
        text-align: initial;
    }
    .sobre-diferenciais > h2 {
        margin-bottom: 5px;
        font-size: 20px;
    }
    .top-content-contato {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .top-content-contato > h2 {
        font-size: 18px;
        width: 330px;
        margin-bottom: 10px;
        font-weight: normal;
    }

    .midle-content-contato {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-description-contato > p {
        width: 310px;
        font-size: 14px;
    }
    .bottom-content-contato > p {
        text-align: center;
        width: 290px;
        margin-top: 30px;
        font-size: 14px
    
    }
    .bottom-content-contato {        
         margin-top: 10px;
    }
    .card-description-contato + .card-description-contato {
        margin-bottom: 0px;
    }
    .card-description-contato {
        display: flex;
        width: 350px;
        flex-direction: column;
        align-items: center;
    }
    .top-content-contato {
         margin-bottom: 0px
    }
    .top-content-contato > h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .line1{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .title-especiliades > h1 {
        font-size: 24px;
        margin-bottom: 50px;
    }
    .card-description {
        width: auto;
    }
    .card-description > h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .card-description > p {
        font-size: 16px;
        width:  290px;
    }
    .especialidade {
        gap: 30px;
    }
    .card > img {
        display: none;
    }
    .title-promocao > p {
        width: 300px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 30px;
    }
    .title-promocao > h2 > small {
        display: none;
        margin-left: 0px;
    }
    .title-promocao > h2 {        
        font-size: 20px;        
    }
    .title-promocao > h1 {
        font-size: 24px;
    }
}

@media (max-width: 375px ) and (max-height: 667px) {
    .main-container-sobre > img {
        width: 250px;
        height: 255px;
        margin-bottom: 15px;
    }
    .top-content-contato > h1 {
        font-size: 24px;
        margin-bottom: 0px;
        margin-top: 15px;
    }
    .content-container-sobre {
        margin-top: 35px;
    }
    .line1 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .bottom-content-contato > p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}