* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: "Cormorant Garamond";
    --secondary-font: "Satisfy";

    --primary-color: #898989;
    --secondary-color: #D9D9D9;
}

p,h1,h2,small,a {
    font-family: var(--primary-font);
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   
   
}

.midle-title {
    display: flex;
   
    width: 100%;
    justify-content: space-between;
}

.container-top{
    display: flex;
    justify-content: center;
    width: 924px;
    height: 375px;
   
}
.container-bottom{
    display: flex;
    justify-content: center;
    width: 924px;
    height: 375px;
    
}

.traço-marrom-topo{
    width: 100px;
    height: 10px;
    margin-top: 89px;
    margin-right: 406px;
    background: #A18987;
}

.traço-azul-topo{
    width: 10px;
    height: 100px;
    margin-top: 89px;
    margin-left: 406px;
    background: #85A8B2;
}

.traço-marrom-baixo{
    width: 100px;
    height: 10px;
    margin-top: 89px;
    background: #A18987;
    margin-left: 406px;
}

.traço-azul-baixo{
    width: 10px;
    height: 100px;
    margin-top: 89px;
    background: #85A8B2;
    margin-right: 406px;
}

.img {
    width: 474px;
    height: 688px;  
    position: absolute;
  
}

.title-vertical-promocao {
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-vertical-especialidade {
    margin-top: 30px
}

.title-vertical{
    display: flex;
    justify-content: center;
    
}

.title-horizontal-sobremim{
    transform: rotate(90deg);
    margin-right: 30px;
}

.title-horizontal-meustrabalhos{
    transform: rotate(-90deg);
}


[class*="title-"] {
    text-transform: uppercase;
    color: var(--primary-color);
    text-decoration: underline;
  }

  [class*="title-vertical"] {
    display: flex;
    justify-content: center;
  }


  /* pagina sobre */

.menu-sobre {
    display: flex;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 70px;      
    margin-left: 60px;  
  }

.menu-contato {
    display: flex;
    right: 0;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 70px;  
    margin-right: 60px;  
}

.menu-sobre > a  {
    transform: rotate(-90deg);
    color: #FFF;
    text-transform: uppercase;  
  }

.menu-contato > a  {
    transform: rotate(90deg);
    color: #FFF;
    text-transform: uppercase;  
  }

.main-container-sobre{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.main-container-sobre > img{  
    width: 500px;   
    height: 570px;
    margin-bottom: 125px;
    
}

.main-container-sobre > p,h1,h2,small {
    color: white;
}

.content-container-sobre {
    display: flex;
    height: 570px;
    margin-top: 160px;
    flex-direction: column;
    
}

.content-container-sobre > h1 {

    text-transform: uppercase;
    width: 235px;;
    margin-bottom: 15px;
    font-size: 31px;

}

.content-container-sobre > h2 {
    color: #5C5C5C;
    margin-bottom: 30px;
    font-size: 31px;
    font-weight: 300;
    font-family: var(--secondary-font);
}

.content-container-sobre > p {
    font-size: 22px;
    width: 225px;
    color: white;

}

.content-container-sobre > a {
    text-transform: uppercase;
    margin-top: 50px;
    color: white;
}

.sobre-diferenciais{
    display: flex;
    height: 570px;
    width: 310px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sobre-diferenciais > h1 {
    margin-bottom: 15px;
    font-size: 22px;
}

.sobre-diferenciais > p {
    text-transform: uppercase;
    width: 370px;
    margin-bottom:40px;
    color: white;
}



  