body {
    display: block;
  background-color: #3a4e57;
  overflow: hidden;
}
p {
  margin: 0;
  color: white;
}

p.title {
  font-size: 24px;
  padding-top: 24px;
  padding-left: 26px;
}

p.subtitle {
  font-size: 16px;
  padding-left: 28px;
}

p.img-title {
  font-size: 24px;
  padding-left: 26px;
  display: inline;
}

p.more {
  display: inline;
  float: right;
  padding-top: 5px;
  margin-right: 25px;
}

p.promotion-title {
  font-size: 24px;
  margin-bottom: 23px;
}

p.promotion-rule {
  font-size: 16px;
  margin-bottom: 7px;
  margin-left: 2px;
}

p.instagram {
  color: #000;
  font-family: cursive;
  margin-top: 10px;
  margin-right: 11px;
}

p.user {
  color: #000;
  margin-top: 10px;
}

.topcontainer {
  width: 100%;
  height: auto;
}

.mid-content {
  width: 100%;
  height: auto;
  margin-top: 31px;
}

.bottom-content {
  width: auto;
  height: 50px;
  margin-top: 51px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #bdccd6;
}

.promotion-card {
  display: flex;
  width: auto;
  height: 150px;
  margin-top: 55px;
  margin-left: 26px;
  margin-right: 26px;
  border-radius: 25px;
  background-color: #677b83;
  justify-content: center;
  align-items: center;
}

.promotion-card img {
  width: 300px;
  height: 133px;
  border-radius: 25px;
}

.img-content img {
  display: inline;
  width: 150px;
  border-radius: 22px;
  margin-left: 14px;
  margin-top: 31px;
}

.img-content {
  display: grid;
  grid-template-columns: repeat(10, 170px);
  overflow: scroll;
  height: 250px;
  scroll-snap-type: both mandatory;
}

.promotion-rules {
  width: 350px;
  height: 135px;
  margin-left: 26px;
  margin-top: 31px;
}

.social-midia {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.active {
  scroll-snap-type: unset;
}

li {
  scroll-snap-align: center;
  display: inline-block;
  border-radius: 3px;
  font-size: 0;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: #000;
}

#menu-trigger {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 32px;
  margin-right: 30px;
  right: 0;
  cursor: pointer;
}

.menu-trigger div {
  width: 30px;
  height: 4px;
  background: #bdccd6 none repeat scroll 0% 0%;
  margin-top: 3px;
}